body{
	font-family: "微软雅黑";
	color: #333;
}
.main_nav2 .main_nav2_left span{
	font-weight: bolder;
	font-size: 16px;
	color: #b5b5b6;
}
.user .left{
	margin-top: 0 !important;
}
.user .left .nav li{
	height:auto;
	cursor: pointer;
	line-height: 31px !important;
}
.user .left .nav li .pro-head{
	height: 31px !important;
	line-height: 31px !important;
	cursor: pointer;
}
.user .left .nav li.active .pro-head{
	background: #13438B;
}
.user .left .nav li.active .pro-head a{
	color: #fff;
	
}
.user .right{
	margin-top: 10px !important;
}
.user .treeBox{
	position: fixed;
	width: 234px;
	height: 100%;
	background: #fff;
	box-shadow: 1px 1px 5px #ccc;
	padding-top: 1px;
}

#welcome .title{
	text-align: center;
	font-weight: bolder;
	font-size: 30px;
	color: #13438b;
}
#welcome .imgBox{
	text-align: center;
	margin-bottom: 35px;
	margin-top: 35px;
	
}
#welcome .imgBox img{
	width: 160px;
	height: 160px;
}
.right .line{
	margin-top: 35px;
	text-align: center;
	width: 835px;
	border:1px solid #13438B ;
}
#welcome .pBox{
	margin-top: 35px !important;
	width: 768px;
	margin: auto;
}
 .text{
	text-align: left;
	font-size: 16px;
	color: #333;
}
.navBox{
	height:30px;
	line-height: 30px;
	display: none;
	margin-bottom: 10px;
}
.navBox .navIcon{
	width: 40px;
	height: 30px;
	margin-bottom: 9px;
}
.navBox .navText{
	color: #13438B;
	font-weight: bold;
	font-size: 28px;
	line-height: 30px;
}
.contentBox{
	width: 942px;
	margin-top: 23px;
}
.contentBox .imgWrap{
	text-align: center;
	padding-top: 10px;
	padding-bottom: 20px;
}
.contentBox .imgWrap img{
	width: 605px;
}
.list-group-item {
	padding: 5px 15px;
	border: none;
}
.list-group-item:last-child{
	border-radius: 0px;
}
.list-group-item:first-child{
	border-radius: 0px;
}

#search .titleBox{
	font-size: 24px;
}
#search .titleBox p{
	margin: 30px 0px -20px 20px;
}
#search .titleBox small{
	font-size: 16px;
	color: #a8a8a8;
	margin-left: 10px;
}
#search ul{
	margin-top: 30px;
	margin-left: 20px;
	color: #333;
}
#search ul li{
	margin-bottom: 20px;
	cursor: pointer;
}
#search ul li p{
	font-size: 16px;
}
#showAll img{
	width:26px;
	margin-left: 15px;
}
#showAll span{
	font-size: 18px;
	margin-left: 22px;
}