body{
	font-family: "微软雅黑";
}
.main_nav2 .main_nav2_left span{
	font-weight: bolder;
	font-size: 16px;
	color: #b5b5b6;
}
.partBox{
	margin-top: 24px;
	margin-left: 20px;
}
.user .left{
	margin-top: 0 !important;
	
}
.user .left .nav li{
	height: 31px !important;
	line-height: 31px !important;
	cursor: pointer;
}
.user .left .nav li a{
	font-size: 16px !important;
}
.user .right{
	margin-top: 0 !important;
}
.menuList li{
	text-align: left !important; 
}
.menuList>li.active{
	background-color: #13438B;
	box-shadow: ;
}
.menuList li a{
	margin-left: 30px;
	color: #333;
}

#welcome .title{
	text-align: center;
	font-weight: bolder;
	font-size: 30px;
	color: #13438b;
}
#welcome .imgBox{
	text-align: center;
	margin-bottom: 35px;
	margin-top: 35px;
	
}
#welcome .imgBox img{
	width: 160px;
	height: 160px;
}
#welcome .line{
	margin-top: 35px;
	text-align: center;
	width: 835px;
	border:1px solid #13438B ;
}
#welcome .pBox{
	margin-top: 35px !important;
	width: 768px;
	margin: auto;
}
 .text{
	text-align: left;
	font-size: 16px;
	color: #333;
}
.navBox{
	height:30px;
	line-height: 30px;
}
.navBox .navIcon{
	width: 40px;
	height: 30px;
	margin-bottom: 9px;
}
.navBox .navText{
	color: #13438B;
	font-weight: bold;
	font-size: 28px;
	line-height: 30px;
}
.contentBox{
	width: 942px;
	margin-top: 23px;
}
.contentBox .imgWrap{
	text-align: center;
	padding-top: 10px;
	padding-bottom: 20px;
}
.contentBox .imgWrap img{
	width: 605px;
}
