.indent {
  text-indent: 2em;
}
.indent2 {
  padding-left: 4em;
}
.indent3 {
  padding-left: 6em;
}

.nav_line {
  float: left;
  width: 100%;
  height: 12px;
  background-image: url('../img/分析报告_15.png');
  background-repeat: no-repeat;
  -moz-background-size: 100% 12px;
  background-size: 100% 12px;
}
.main_nav3 {
  float: left;
  padding-right: 0px;
  padding-left: 0px;
  width: 100%;
  height: 45px;
  background-color: #fff;
  box-shadow: 0 0 5px #888;
}
.main_nav3 ul {
  list-style: none;
}
.main_nav3 .main_nav3_left {
  float: left;
  display: block;
  line-height: 45px;
  padding-right: 0px;
  padding-left: 15px;
}
.main_nav3 .main_nav3_left .nav3_title a:hover{
	color: #13438B;
	font-weight: bold;
}
.main_nav3 .main_nav3_left a {
  text-decoration: none;
  color: #777777;
  cursor: pointer;
}
.main_nav3 .main_nav3_left a:hover {
  text-decoration: none;
  color: #000000;
  cursor: pointer;
}
.main_nav3 .main_nav3_left .nav3_title {
  width: 110px;
  text-align: center;
  margin-right: 30px;
  font-size: 16px;
  border: none;
}
.main_nav3 .main_nav3_left li {
  z-index: 100;
  background: #fff;
  float: left;
  font-size: 14px;
  padding-right: 5px;
  padding-left: 5px;
  letter-spacing: 1px;
}
.main_nav3 .main_nav3_left li span {
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  padding: 3px 15px;
  border: 1px solid #777;
}
.main_nav3 .main_nav3_right {
  float: right;
  display: block;
  line-height: 45px;
  padding-right: 20px;
  padding-left: 0px;
}
.main_nav3 .main_nav3_right a {
  text-decoration: none;
  color: #777777;
  cursor: pointer;
}
.main_nav3 .main_nav3_right a:hover {
  text-decoration: none;
  color: #000000;
  cursor: pointer;
}
.main_nav3 .main_nav3_right li {
  z-index: 100;
  background: #fff;
  float: left;
  font-size: 14px;
  padding-right: 5px;
  padding-left: 5px;
  letter-spacing: 1px;
}
.main_nav3 .main_nav3_right li span {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 6px 8px;
  border: 1px solid #13438B;
  background-color:#13438B;
}
#main_box {
  margin-top: 135px;
  float: left;
  width: 100%;
}
#main_box .b_title {
  float: left;
  background-image: url(../img/分析报告_27.jpg);
  width: 100%;
  height: 93px;
  text-align: center;
}
#main_box .b_title p {
  font-size: 31px;
  color: #fff;
  line-height: 93px;
  letter-spacing: 4px;
  text-indent: 0em;
}
#main_box .b_pic_line {
  border-bottom: 2px solid #e7e7e7;
  margin-bottom: 15px;
}
#main_box .b_pic_line img {
  margin-top: 30px;
  margin-bottom: 15px;
}
#main_box p {
  font-size: 14px;
  color: #666666;
  line-height: 20px;
  margin: 5px 0;
}
#main_box a {
  margin: 5px 0;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
}
#main_box a a {
  text-decoration: none;
  color: #157bf7;
  cursor: pointer;
}
#main_box a a:hover {
  text-decoration: none;
  color: #157bf7;
  cursor: pointer;
}
/*===============左边导航样式==============*/
.b_left {
  float: left;
  width: 150px;
  margin-right: 30px;
  z-index: 105;
}
.b_left #left_list {
  padding-right: 0px;
  padding-left: 0px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-align: left;
  height: auto;
}
.b_left #left_list a {
  text-decoration: none;
  color: #333333;
  cursor: pointer;
}
.b_left #left_list a:hover {
  text-decoration: none;
  color: #333333;
  cursor: pointer;
}
.b_left #left_list .left_list_common {
  width: 100%;
  height: 40px;
  padding-left: 20px;
  margin-right: 20px;
  font-family: microsoft yahei;
  letter-spacing: 2px;
  line-height: 40px;
}
.b_left #left_list a {
  font-size: 16px;
}
.b_left #left_list .selectable {
  width: 100%;
  height: 40px;
  padding-left: 20px;
  margin-right: 20px;
  font-family: microsoft yahei;
  letter-spacing: 2px;
  line-height: 40px;
  border-bottom: 1px dashed #ccc;
}
.b_left #left_list .unselectable {
  width: 100%;
  height: 40px;
  padding-left: 20px;
  margin-right: 20px;
  font-family: microsoft yahei;
  letter-spacing: 2px;
  line-height: 40px;
  color: #c3c1c1;
  border-bottom: 1px dashed #ccc;
}
.active a {
  color: #007e50!important;
}
.active a span {
  color: #007e50!important;
  line-height: 40px!important;
}
.a_line {
  position: relative;
  bottom: 3px;
  color: #999;
  font-weight: bold;
  font-size: 8px;
  padding-right: 10px;
  padding-bottom: 5px;
}
.b_right {
  float: left;
  margin-left: 200px;
  margin-top: 35px;
  max-width: 1000px;
  /*注释*/
  /*图片*/
}
.b_right .r_part_box {
  float: left;
  width: 100%;
  margin: 0px;
  padding: 0px;
}
.b_right .r_part_box .first_title {
  padding-top: 0px;
}
.b_right .r_part_box .first_title img {
  margin-right: 10px;
}
.b_right h2,
.b_right h3 {
  color: #13438B !important; 
  font-family: "Microsoft YaHei UI";
}
.b_right h2 {
  text-align: left;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
  letter-spacing: 2px;
  line-height: 20px;
  font-weight: bold;
}
.b_right h2 img {
  width: 22px;
}
.b_right h3,
.b_right h4 {
  text-align: left;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
  letter-spacing: 1px;
  font-weight: bold;
}
.b_right .h4_inline {
  margin-top: 10px!important;
  margin-bottom: 10px!important;
}
.b_right .h4_inline span {
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: bold;
  color: #333;
}
.b_right .literature {
  letter-spacing: 0px;
  font-weight: normal;
  text-align: center;
  cursor: pointer;
}
.b_right p {
  text-align: left;
  font-size: 14px;
  margin-top: 7px;
  margin-bottom: 7px;
}
.b_right .table_title {
  padding: 25px 0px 25px 0px;
  font-weight: bold;
}
.b_right table th {
  text-align: center!important;
}
.b_right .table_basic {
  border-top: 1px solid #111;
}
.b_right .annotation {
  float: left;
  margin-top: 25px;
}
.b_right .annotation p {
  text-align: left;
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 16px!important;
  font-size: 14px;
}
.b_right .img_box {
  text-align: center!important;
  margin-top: 10px;
  margin-bottom: 10px;
}
.b_right .img_box .img-style {
  margin-bottom: 10px;
  max-width: 100%;
  max-height: 200px;
}
.b_right .img_box .img-original {
  margin-bottom: 10px;
  max-width: 100%;
}
.b_right .img_box p {
  color: #333!important;
  text-align: center!important;
  letter-spacing: 1px;
}
/*左文字右图*/
.col2 {
  float: left;
  width: 100%;
}
.col2 .col2_left {
  float: left;
  width: 40%;
}
.col2 .col2_right {
  float: left;
  padding-left: 20px;
  max-width: 60%;
}
#footer_style {
  margin: 10px 0;
  float: left;
  width: 100%;
}
#footer_style .footerstyle {
  font-size: 12px;
  line-height: 10px;
  text-align: center;
  color: #999;
  padding-bottom: 10px;
  padding-top: 10px;
}
.qssy_img {
  max-width: 918px;
  width: 100%;
}
.module_title {
  float: left;
  padding: 30px 0;
}
.module_title img {
  margin-right: 15px;
}
.module_title span {
  font-size: 22px;
  color: #333;
  letter-spacing: 2px;
  margin: 10px 0px;
}
#myDiagramDiv {
  float: left;
  width: 100%;
  height: 470px;
  background-color: #fff;
  margin-bottom: 30px;
}
#nodeDetail {
  float: left;
  width: 100%;
}
#nodeDetail p {
  font-size: 14px;
  color: #666666;
  line-height: 20px;
}
#nodeDetail .module_pic {
  text-align: center;
}
#nodeDetail .module_pic img {
  width: auto;
  max-width: 100%;
}
#nodeDetail .module_pic p {
  font-size: 14px;
  margin: 5px 0;
}
