<!DOCTYPE html>
<html>
<head>
	<title>查看任务</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="content-type" content="text/html" ; charset="utf-8">
	<link href="public/css/reset.css" rel="stylesheet" />
	<link href="public/css/bootstrap.min.css" rel="stylesheet">
	<link href="public/css/bootstrap-table.css" rel="stylesheet">
	<link href="public/css/bootstrap-select.css" rel="stylesheet">
	<link href="public/css/jquery-ui-1.9.2.custom.css" rel="stylesheet" type="text/css" media="screen"  />
	<link href="public/css/long_common.css" rel="stylesheet"  media="all">

	<!--弹出层样式-->
	<link href="public/css/jquery.fancybox.css" rel="stylesheet"/>
	<link href="public/draw/style/app.css" rel="stylesheet" >
	<link href="css/soda_common.css" rel="stylesheet" >
			<!--轮播样式-->
	<link href="public/css/style-demo.css" rel="stylesheet" />
</head>

<body>
	<!--前台公共头部-->
	<div class="top">
		<div class="main_nav1">
			<div class="container">
				<a href="#" class="logo"><img src="public/image/navLogo.svg"/></a>
				<ul class="main_nav1_left">
					<li id="main"><a href="main.html">首页</a></li>
					<li id="sodaIndex"><a href="sodaIndex.html">云中漫步</a></li>
					<li id="frontierResearch"><a href="frontierResearch.html" >前沿方案</a></li>
					<li id="marketActive"><a href="marketActive.html">市场活动</a></li>	
				</ul>
				<div class="form-group searchNews" id="search_news">
					<span class="col-sm-2 control-label"><img src="public/image/navSearch.svg"/></span>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="search_news_input">
					</div>
				</div>
				<ul class="main_nav1_right">
					<li id="searchIcon"><a href="#"><img src="public/image/navSearch.svg" alt="搜索" /></a></li>
					<li><a href="#"><img src="public/image/navEmail.svg" alt="通知" /></a></li>
					<li><a href="personalCenter.html"><img src="public/image/navUser.svg" alt="用户" /></a></li>
				</ul>
			</div>
		</div>
		<div class="main_nav2">
			<div class="container">
				<ul class="main_nav2_left">
					<li class="nav2_list1" style="width: 90px;">
						<a href="#" class="active">流程方案<img src="public/image/navDown.svg" alt=""></a>
						<ul class="">
							<li><a href="">DNA流程方案</a></li>
							<li><a href="">RNA流程方案</a></li>
							<li><a href="">医学流程方案</a></li>
						</ul>				
					</li>
					<li class="nav2_list2" style="width: 73px;">
						<a href="#">小工具<img src="public/image/navDown.svg" alt=""></a>
						<ul class="">
							<li><a href="">基本绘图</a></li>
							<li><a href="">流程绘图</a></li>
							<li><a href="">高级绘图</a></li>
							<li><a href="">表格处理</a></li>
							<li><a href="">计算统计</a></li>
						</ul>
					</li>
					<li class=""><a href="myProject.html">我的项目</a></li>
					<li class=""><a href="#">我的目录</a></li>
					<li class=""><a href="recycle.html">回收站</a></li>
				</ul>
				<div class="form-group">
					<div class="col-sm-10">
						<input type="text" class="form-control" placeholder="搜索想要使用的流程或小工具" id="search_flowapp">
					</div>
					<button class="col-sm-2 btn btn_blue" id="search_button">搜索</button>				
				</div>
			</div>
		</div>	
	<div class="nav_line"></div>
		<div class="main_nav3" style="box-shadow:-2px 3px 9px 0px #ccc;">
			<div class="container">
				<ul class="main_nav3_left_report">
					<li><span id="showReport"><a >查看报告</a></span></li>
					<li ><span id="downloadReport"><a >下载报告</a></span></li>
					<!--云超，下载报告的链接-->
					<li><span ><a id="taskRerun"  href="#">重跑一次</a></span></li>
					<li><span style="background: #13438b;"><a id="deepBtn" style="color: #fff;" href="#">深度挖掘</a></span></li>
				</ul>
				<ul class="main_nav3_right_report">
					<li  class="report_success"><span id="taskStatus"  class="btn btn-primary"><a href="#">任务运行中</a></span></li>
	
								<!--<li class="report_running"><span><a href="#">任务运行中</a></span></li>
								<li class="report_end"><span><a href="#">任务已终止</a></span></li>
							-->
					<li id="refresh">
						<a href="#"><img src="img/refresh.svg" alt="刷新" /></a>
					</li>
					<li id="stop">
						<a href="#"><img src="img/stop.svg" alt="停止" /></a>
					</li>
					<li id="delete">
						<a href="#"><img src="img/delete.svg" alt="删除" /></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!--/前台公共头部-->
	 <div class="center_box" style="float:left;width:100%;margin-top: 145px;">
        <div class="myTab" > 
        	<div class="tabs" style="margin-left: 20px;float: none;width: 1185px;margin: 0 auto;">
				<ul class="nav">
					<li style="width: 160px;"><a href="#" data-toggle="tab">KEGG通路散点图</a></li>
					<li style="width: 80px;"><span style="display: inline-block;width: 35px;height: 35px; background: url(img/bg_01.png);font-size: 25px;">3</span></li>
					<li style="width: 160px;"><a href="#" data-toggle="tab">差异基因富集注释</a></li>
					<li style="width: 80px;"><span style="display: inline-block;width: 35px;height: 35px; background: url(img/bg_01.png);font-size: 25px;">2</span></li>
					<li class="active"  style="width: 160px;" ><a href="#" data-toggle="tab">差异基因筛选</a></li>
					<li style="width: 80px;"><span style="display: inline-block;width: 35px;height: 35px; background: url(img/bg_01.png);font-size: 25px;">1</span></li>
				</ul>
			</div>	
        </div>       
        <div class="myTab"  style="margin-bottom: 20px;background: #fff;">
        	<div style="width: 1200px;margin: 0 auto;height: 100%;">
				<div class="tabs" style="margin-left: 10px;text-align: left;line-height: 88px;font-size: 15px;color: #656565;">
					差异基因筛选参数设置
				</div>	
				<div class="tabs" style="margin-left: 20px;">
					<ul class="nav" id="appTabRight">
						<li ><a href="#direction" data-toggle="tab">使用说明</a></li>	
						<li ><a href="#" data-toggle="tab">统计结果</a></li>
						<li><a href="#geneList" data-toggle="tab">差异基因列表</a></li>
						<li class="active" ><a href="#show" data-toggle="tab">火山图</a></li>
					</ul>
				</div>	
			</div>	
		</div>
        <div id="myTabContent" class="change_box">
			<div class="tab-content input_l">
				<div class="tab-pane in active" id="set">		
					<div class="panel  panel-default">				
						<div class="panel-body" style="height: 439px;">
							<form id="parameter">
								<!--输入文件-->
								<div class="part">
									<div class="input_a_l titleNameLeft">输出文件:</div>
									<div class="input_a_m" style="width: 345px;">
										<input v-model="input" type="text" class="form-control" id="input" name="input" placeholder="">
									</div>
									<div class="input_a_r">
										<a onclick="openUrl('#input','file')">
											<span class="glyphicon glyphicon-folder-open" style="font-size:20px; top: 5px; cursor:pointer;"></span>
										</a>
									</div>
								</div>		
								<div class="line"></div>
								<div class="part">
									<div class="input_a_l titleNameLeft">筛选软件:</div>
									<div class="input_b_3" style="width: 345px;float: left;">
										<select id="filterCondition"  name="filterCondition" class="selectpicker select_width" autocomplete="off" >
											<option value="project1">DESeq2</option>
											<option value="project2">DESeq</option>
											<option value="project3">edgeR</option>
											<option value="project4">DEGseq</option>
										</select>
									</div>									
								</div>
								<div class="part">
									<div class="input_a_l titleNameLeft">p值类型:</div>
									<div class="input_b_3" style="width: 345px;float: left;">
										<select id="pTypes"  name="pTypes" class="selectpicker select_width" autocomplete="off" >
											<option value="padj">padj</option>
											<option value="pval">pval</option>
										</select>
									</div>									
								</div>
								<div class="part">
									<div class="input_a_l titleNameLeft">p值大小:</div>
									<div class="input_a_m" style="width: 345px;">
										<input v-model="pValue" type="text" class="form-control" id="pValue" name="pValue" placeholder="">
									</div>								
								</div>
								<div class="part">
									<div class="input_a_l titleNameLeft">差异倍数:</div>
									<div class="input_a_m" style="width: 345px;">
										<input v-model="diffMultiple" type="text" class="form-control" id="diffMultiple" name="diffMultiple" placeholder="">
									</div>								
								</div>
								<div class="line"></div>
								<div class="part">
									<div class="input_a_l titleNameLeft">差异比较分组</div><br /><br />
										<div style="margin-bottom: 55px;">
											<div style="float:left;width:22%;margin-left: 20px;">
												<div><label class='control-label'><b>样本名称：</b></label></div>
											</div>
											<div style="float:left;width:20%;margin-right: 20px;">
												<div>
													<button class="btn btn-default" data-target='#groupModal' data-toggle='modal' style="outline: none;">
														<span class="glyphicon glyphicon-plus">Group</span>
													</button><br />
												</div>
											</div>
											<div style="float:left;width:22%;margin-right: 20px;">
												<div>
													<button class="btn btn-default" data-target='#compareModal' data-toggle='modal'style="outline: none;">
														<span class="glyphicon glyphicon-plus">Compare</span>
													</button>
												</div>   
											</div>
											<div style="float:left;width:20%;margin-right: 20px;">
												<div>
													<button class="btn btn-default"  data-target='#vennModal' data-toggle='modal' style="outline: none;">
														<span class="glyphicon glyphicon-plus">Venn</span>
													</button>
												</div>
											</div>
										</div>
										<div style="width:100%;">																				
											<div style="float:left;width:24%;margin-right: 20px;">
												<div id="sampleWrap">
													<ol id="sampleNames" class="list-group sampleNames ui-helper-reset ui-helper-clearfix" style="height: 100%;"></ol>
												</div>
											</div>
											<div id='groupList' style="float:left;width:21%;margin-right:20px;"></div>
											<div id='compareList' style="float:left;width:21%;margin-right:20px;"></div>
											<div id='vennList' style="float:left;width:21%"></div>																					
										</div>
								</div>
							</form>
						</div>
						<div class="panel-footer" style="height: 51px;">
							<button id="submit_paras" type="button" class="btn btn-success">Run</button>
						</div>
					</div>
				</div>
				<div class="tab-pane" id="mytable">
					<div class="panel panel-default">
						<div class="panel-body" style="padding: 0;">
							<table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th v-for="item in fileData.content[0]">{{item}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(item,index) in fileData.content" v-if="index!=0">
                                        <td v-for="item1 in item">{{item1 }}</td>
                                    </tr>
                                </tbody>
                            </table>
						</div>
					</div>
				</div>
			</div>
	
			<!-- 绘图展示 -->
			<div class="tab-content input_r">
				<div class="tab-pane in active" id="show">
					<div class="panel panel-default">
						<div class="panel-body">
							<div id="jcl-demo" style="width: 500px;height: 460px;">
							    <div class="custom-container default">
							        <a href="#" class="prev">&lsaquo;</a>
							        <div class="carousel" style="width: 500px;height: 460px;">
							            <ul>
							            	<li><a class="fancybox-effects-a" href="img/N1_2_classfication_pie.png" title="Lorem"><img style="width: 455px;height:460px;padding-right: 23px;" src="img/N1_2_classfication_pie.png" alt="" /></a></li>
							            	<li><a class="fancybox-effects-a" href="img/N2_1_gc.png" title="Lorem"><img style="width: 455px;height:460px;padding-right: 23px;" src="img/N2_1_gc.png" alt="" /></a></li>
							            	<li><a class="fancybox-effects-a" href="img/classfication_bar.png" title="Lorem"><img style="width: 455px;height:460px;padding-right: 23px;" src="img/classfication_bar.png" alt="" /></a></li>
							            </ul>
							        </div>
							        <a href="#" class="next">&rsaquo;</a>
							        <div class="clear"></div>
							    </div>
							</div>
						</div>
					</div>
				</div>
				<!-- 基因列表 -->
				<div class="tab-pane" id="geneList">
					<div class="panel panel-default">
						<div class="panel-body">
							<table data-toggle="table" data-toolbar="#toolbar" data-click-to-select="true" data-show-footer="false" data-height="250" 						id="sampleTable">
								<thead>
									<tr>
										<th data-field="sample" data-align="left" data-sortable="true">id</th>
										<th data-field="fq" data-align="center" data-sortable="true">baseMean </th>
										<th data-field="adap" data-align="center" data-sortable="true">WLL</th>
										<th data-field="sample" data-align="left" data-sortable="true">CK</th>
										<th data-field="fq" data-align="center" data-sortable="true">log2FoldChange </th>
										<th data-field="adap" data-align="center" data-sortable="true">pval</th>
										<th data-field="adap" data-align="center" data-sortable="true">padj</th>
										<th data-field="adap" data-align="center" data-sortable="true">bDiff</th>
									</tr>
								</thead>
							</table>
						</div>
					</div>
				</div>
				<!-- 统计结果 -->
				<div class="tab-pane" id="statisticResult">
					<div class="panel panel-default">
						<div class="panel-body">
							
						</div>
					</div>
				</div>
				<!-- 使用说明 -->
				<div class="tab-pane" id="direction">
					<div class="panel panel-default">
						<div class="panel-body">
							<p>描述：</p>
							<p class="indent">
							对提供的各样本中，各基因的表达量，按log（x+1）转换后，绘制小提琴图（https://en.wikipedia.org/wiki/Violin_plot）。用于展示各样本基因整体表达量分布情况。
							</p>
							<p>参数：</p>
							<pre>
								--input	  输入文件名。例如：fpkm.txt
								--output  输出文件名。后缀为.png时，输出png图片；后缀为.pdf时，输出pdf图片。例如：violin.png
								--ylab	  y坐标轴标题，默认为：log(RPKM+1)。例如：log(TPM+1)
								--title	  图标题，默认为：RPKM distribution。例如：TPM distribution	
							</pre>
							<p>输入：</p>
							<div class="indent">基因表达量文件，第一列为geneID，其他列为各样本中基因表达量值（FPKM，RPKM或TPM）。</div>
							<div class="img_box">
								<img src="public/draw/imgs/bg.jpg" alt="">
							</div>
							<p>输出：</p>
							<div class="indent">后缀为.png时，输出png图片；后缀为.pdf时，输出pdf图片。</div>
						</div>
					</div>
				</div>
			</div>
		
    	</div>
        
	<!-- 标签切换 -->
	
	
	<!-- 添加选择目录的模态框 -->
	<div class="modal fade" id="selectUrl" tabindex="-1" aria-labelledby="选择路径" aria-hidden="true">

		<div class="modal-dialog" style="top:50px; width:800px;">
			<div class="modal-content ">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
						&times;
					</button>
					<h4 class="modal-title">路径</h4>
					<div class="input-group">
						<input type="text" class="form-control" id="inputUrl">
						<span class="input-group-btn">
							<button class="btn btn-default glyphicon glyphicon-arrow-left" id="back" type="button" style="top: 0px;"></button>
							<button class="btn btn-default glyphicon glyphicon-arrow-right" id="search" type="button" style="top: 0px;"></button>
						</span>
					</div>
				</div>
				<!-- -----------------------------------------------------------data-single-select="true"------------------------ -->
				<div class="modal-body" style="text-align:center; ">
					<table data-toggle="table" data-url="json/jobUrl.json" data-minimum-count-columns="2" data-id-field="id" data-show-footer="false"
						data-height="300" data-sort-name="id" data-click-to-select="true"  id="urlTable"
						style="bottom:20px;">

						<thead>
							<tr>
								<th data-field="state" data-checkbox="true"></th>
								<th data-field="icon" data-formatter="addIcon"></th>
								<th data-field="name" data-align="left" data-sortable="true">name</th>
								<th data-field="type" data-align="center" data-sortable="true">attribute</th>
								<th data-field="inodeNum" data-align="center" data-visible="false" data-sortable="true">inodeNum</th>
								<th data-field="size" data-align="center" data-sortable="true">size</th>
								<th data-field="owner" data-align="center" data-sortable="true">owner</th>
								<th data-field="group" data-align="center">group</th>
								<th data-field="mtime" data-align="center" data-sortable="true">time</th>
							</tr>
						</thead>
					</table>
				</div>
				<!-- ----------------------------------------------------------------------------------- -->
				<div class="modal-footer">
					<button type="button" id="selected" class="btn btn-primary">
					选择
					</button>
					<button type="button" id="cancel" class="btn btn-default" data-dismiss="modal">
					关闭
					</button>

				</div>
			</div>
		</div>

	</div>

	<div id="footer_style">
		<footer class="footerstyle">
			<p>版权所有 © 2016 京ICP备15033925号</p>
			<p>北京拓美科基因科技有限公司</p>
		</footer>
	</div>
	<script src="public/js/jquery-1.9.1.min.js"></script>
	<script src="public/js/bootstrap.min.js"></script>
	<script src="public/js/bootstrap-table.js"></script>
	<script src="public/js/bootstrap-select.js"></script>
	<script src="public/js/jquery-ui-1.9.2.custom.min.js" type="text/javascript"></script>
	<script src="public/js/jquery.blockUI.js" type="text/javascript"></script>
	<!--轮播图片插件-->
	<script src="public/js/jquery.mousewheel-3.1.12.js"></script>
	<script src="public/js/jquery.jcarousellite.js"></script>
	<!--FancyBox弹出窗口插件-->
	<script src="public/js/jquery.mousewheel.pack.js"></script>
	<script src="public/js/jquery.fancybox.pack.js"></script>
	<script src="public/js/long_common.js"></script>
	<script src="js/go.js"></script>
	<script src="js/common1.js"></script>	
	<script>

        $(function() {
        	
            $(".default .carousel").jCarouselLite({
                btnNext: ".default .next",
                btnPrev: ".default .prev",
                visible: 1,
                speed: 800
            });
        })	

		$(document).ready(function() {
			// Change title type, overlay closing speed
			$(".fancybox-effects-a").fancybox({
				width:500,
				height:500,
				helpers: {
					title : {
						type : 'outside'
					},
					overlay : {
						speedOut : 0
					}
				}
			});

		});
		
	$(function(){
		
		//波波，这是删除，终止和重跑的地址
    var delete_url = "";
    var stop_url = "";
	var rerun_url = "";

//与后台交互时冻结
	$(document).ajaxStart($.blockUI).ajaxStop($.unblockUI);

//------按钮们--------
//刷新
	$("#refresh").click(function(){
		window.location.reload();
    });
//终止
	$("#stop").click(function(){
		var r=confirm("您确定要终止该任务吗？"); 
		if(r==true){
			 var id = $("#taskId").val();
			 $.ajax({
				    url:stop_url,  
				    type:'get',
				    data:{id:id},
				    dataType: "json",
				    success:function(data) {
				    	if(data['status']=='ERROR'){    //请求成功但没有执行成功
				    		alert(data['data']);
				    	}else{
							alert("任务终止成功！");
							$(this).find("img").attr("src","img/start.svg") 
				    	};
				     },    
				     error : function(XMLHttpRequest) {
				       alert(XMLHttpRequest.status +' '+ XMLHttpRequest.statusText); 
				     }
				});  
		  };
    });    
//删除
	$("#delete").click(function(){
		var r=confirm("您确定要删除该任务吗？");
		if(r==true){

			 var id = $("#taskId").val();
			 $.ajax({
				    url:delete_url,  
				    type:'post',
				    data:{id:id},
				    dataType: "json",
				    success:function(data) {
				    	if(data['status']=='ERROR'){    //请求成功但没有执行成功
				    		alert(data['data']);
				    	}else{
							alert("删除成功！");	
				    	};
				     },    
				     error : function(XMLHttpRequest) {
				       alert(XMLHttpRequest.status +' '+ XMLHttpRequest.statusText);    
				     }
				});  
		  };
    });
    
    $(".main_nav3_left_report li").click(function(){
    	$(this).children("span").css("background",'#13438B').children("a").css("color","#fff");
    	$(this).siblings("li").children("span").css("background",'#fff').children("a").css("color","#777");
    })
	//rerun
	$("#taskRerun").click(function(){
		$(this).parent("span").css("background","#13438B").children("a").css("color","#fff");
		var r=confirm("您确定要rerun该任务吗？");
		if (r==true)
			{
				var id = $("#taskId").val();
				$.ajax({
					url:rerun_url,    //甄伟波，rerun的地址  
					type:'get',
					data:{id:id},
					dataType: "json",
					success:function(data) {
						if(data['status']=='ERROR'){    //请求成功但没有执行成功
							alert(data['data']);
						}else{
							alert("rerun成功！");
							$("#taskRerun").parent("span").css("background","#fff").children("a").css("color","#777");
						}
					},    
					error : function(XMLHttpRequest) {
						alert(XMLHttpRequest.status +' '+ XMLHttpRequest.statusText); 
						$("#taskRerun").parent("span").css("background","#fff").children("a").css("color","#777");
					}
				});  
			};
	});
	
});

////页面加载完成之后，填充数据
//$(document).ready(function(e) {
//  getTaskData("json/taskDetail.1.json");
//	
//});
function openSftp(user,ip,port, eid){
	window.open('sftp://'+user+'@'+ip+':'+port+$("#"+eid).text());
}
	
function stopTask(taskid){
	if (typeof(taskStatus)=='undefined' || taskStatus == 'finished' || taskStatus =='failed' ){
		return false;
	}
	
	if(!confirm("您确定要终止任务吗？")){
		return false;
	}
	
	$.ajax({
		url:"__MODULE__/Task/stopTasks",
		type:'get',
		data:{id:taskid},
		dataType: "json",
		success:function(data){
			if(data['status']=='SUCCESS'){    
	    		$("#taskStatus").removeClass('btn-primary').addClass("btn-warning").text("任务已终止");
	    	}
			alert(data['data']);
			window.location.reload();
		},
		error : function(XMLHttpRequest) {
	       	alert(XMLHttpRequest.status +' '+ XMLHttpRequest.statusText);   
	    }
	});
}

//function getTaskData(url){
//	 $.ajax({
//			url:url,  
//			type:'get',
//			dataType: "json",
//			success:function(data) {
//				if(data['status']=='ERROR'){    //请求成功但没有执行成功
//					alert(data['data']);
//				}else{
//					
//					for(var key in data){
//						if(key == "samples"){   
//							//根据样本名填入table
//							var dataJson = [];   //用来存放填写样本表格的数据
//							var arr = data[key].split(",");
//
//							if(data["taskSeqType"] == "PE"){    //判断是双端   （注意：必须是PE）
//								for(var i=0;i<arr.length;i++){
//									var one = {};
//									one["sample"]=arr[i];
//									one["fq"]= arr[i]+"_1.fq.gz"
//									
//									var two = {}
//									two["sample"]=arr[i];
//									two["fq"]= arr[i]+"_2.fq.gz"
//								//	console.log(two)
//									dataJson.push(one);
//									dataJson.push(two);
//								};
//								
//							}
//							else{								//不是双端
//								for(var i=0;i<arr.length;i++){
//									var one = {};
//									one["sample"]=arr[i];
//									one["fq"]= arr[i]+".fq.gz"
//									dataJson.push(one);
//								};	
//							};
//
//							$('#sampleTable').bootstrapTable('load',dataJson);   //载入数据
//							
//							
//						}
//						
//						else if(key == "unselectNode"){
//							var unselectNode = data.unselectNode.split(",");
//							for(var i=0;i<unselectNode.length;i++){
//								if(!diagram.findNodeForKey(unselectNode[i])){
//									continue;
//								}
//								diagram.findNodeForKey(unselectNode[i]).elt(0).fill=unselectColor;	//未选中模块变成灰色
//								nodeStatus[unselectNode[i]] = 0;
//							};
//
//							var runMod = data.runMod.split(",");
//							for(var i=0;i<runMod.length;i++){
//								if(!diagram.findNodeForKey(runMod[i])){
//									continue;
//								}
//								diagram.findNodeForKey(runMod[i]).elt(0).fill=runningColor;	//运行中模块变成绿色
//							};
//							var failedMod = data.failedMod.split(",");
//							for(var i=0;i<failedMod.length;i++){
//								if(!diagram.findNodeForKey(failedMod[i])){
//									continue;
//								}
//								diagram.findNodeForKey(failedMod[i]).elt(0).fill=failedColor;	//失败模块变成红色
//							};
//							selectedNode(); 
//
//							var nodePara = data.nodePara   //填充模块参数
//							for(var i=0;i<nodePara.length;i++){
//								$("#"+nodePara[i].name).val(nodePara[i].value)
//								};
//							 }
//						else if(key == "modStatus"){  //填充任务状态table
//							$('#modStatusTable').bootstrapTable('load',data[key]);
//							}
////							波波，这是之前的判断状态的，现在暂时去掉了
//						else if(key == "status"){
//							taskStatus = data.status;
//							if(data.status == "finished"){
//								$("#showReport").attr("onclick","window.open('__MODULE__/Report/showReport/id/{$id}')");
//								$("#downloadReport").attr("onclick","window.open('__MODULE__/Report/downReport/id/{$id}')");
//								$("#taskStatus").removeClass("btn-success");
//								$("#taskStatus").addClass("btn-primary").text('任务已完成');								
//							}else if(data.status == "failed"){
//								$("#taskStatus").addClass("btn-warning").text('任务已终止');
//								$("#showReport").css("background","#ccc");
//								$("#downloadReport").css("background","#ccc");
//								$("#taskReport h4").after('<p>任务终止，报告未生成。</p>');
//							}
//							else {
//									$("#taskStatus").addClass("btn-success").text('任务运行中');
//									$("#showReport").css("background","#ccc");
//									$("#downloadReport").css("background","#ccc");
//									$("#taskReport h4").after('<p>报告尚未生成，请耐心等待</p>');
//								}
//							}
//							
//						else{
//								$("#"+key).val(data[key])
//							};
//					};
//				};
//			 },    
//			 error : function(XMLHttpRequest) {
//			   alert(XMLHttpRequest.status +' '+ XMLHttpRequest.statusText);    
//			 }
//		}); 
//	};
$(function(){
	//提交参数
	$("#submit_paras").click(function(){
		var formData =  allParams();//取form表单参数
		console.log(formData)
		if(formData.input==""){
			alert("请输入文件");
		}else{
			$.ajax({
				url: 'public/draw/json/barDrawFileData.json',  
				type:'get',
				data:{
//					fileName:formData.input
				},
				dataType: "json",
				success:function(data) {
					console.log(data)
				},    
				error : function(XMLHttpRequest) {
					alert(XMLHttpRequest.status +' '+ XMLHttpRequest.statusText);
				}
			});
		}
	});
	
		var parasValue = sessionStorage.getItem("paras"); 
		var parasObj = $.parseJSON( parasValue );
		console.log(parasObj)
		var samplesArray=parasObj.samples.split(",");
		for(var i=0;i<samplesArray.length;i++){
			var name = samplesArray[i];
			console.log(name)
			add='<li class="list-group-item ui-widget-content ui-corner-tr">'+name+'</li>'
			$(add).appendTo('#sampleNames')

		};	
		dragInit();
		var groupSamplesObj=parasObj.groupCompareVenn.groupSamples;
		console.log(groupSamplesObj)
		for(key in groupSamplesObj){
			var value=groupSamplesObj[key];
			var html='<div name="sampleGroup" class="ui-widget-content ui-state-default sampleGroup" style=border-radius:3px;><span class="ui-widget-header" style=font-size:18px;height:28px;border:none;background:none;display:inline-block;>'+key+'</span><ul class="sampleNames ui-helper-reset"/></ul><button class="ui-widget-header glyphicon glyphicon-remove pull-right closeBorder" ></span></div>';
			var divHtml = $(html);
			allgroups.push(key);
			
			for(var i=0;i<value.length;i++){
				var sample=value[i];
				var liHtml=$('<li class="list-group-item ui-widget-content ui-corner-tr ui-draggable" style="display: block;border:none;background:none; width: 90px;">'
			    	+sample+'</li>');
			    	console.log(divHtml.find("ul"));
			  liHtml.appendTo(divHtml.find("ul"))
				
			}
			divHtml.appendTo('#groupList');
		}
		
});

//var $list = $( "ul", $container ).length ?
//			            $( "ul", $container ) :
//			            $( "<ul class='goupCompare ui-helper-reset'/>" ).appendTo($container);
//			    $('<li class="list-group-item ui-widget-content ui-corner-tr ui-draggable" style="display: block;border:none;background:none; width: 90px;color:'+$color+'">'
//			    	+itemName+'</li>').appendTo($list)
//初始化拖拽
function dragInit() {
	var $sampleNames = $( "#sampleNames" ),
    		$sampleGroup = $( ".sampleGroup" ),
    		$compareGroup = $(".goupCompare")
    		$venn = $(".venn");
	//样本拖动
	$( "li", $sampleNames ).draggable({
	      cancel: "a.ui-icon", // 点击一个图标不会启动拖拽
	      revert: "invalid", // 当未被放置时，条目会还原回它的初始位置
	      containment: "document",
	      helper: "clone",
	      cursor: "move"
	    });
	//分组拖动
	$( ".sampleGroup" ).draggable({
	    revert: "invalid", 
	    containment: "document",
	    helper: "clone",
	    cursor: "move"
	});
	
	//比较组拖动
	$(".goupCompare").draggable({
	      revert: "invalid", 
	      containment: "document",
	      helper: "clone",
	      cursor: "move"
	    });
	//维恩图接收比较组名
	$venn.droppable({
	      accept: "#compareList>div",
	      activeClass: "ui-state-highlight",
	      tolerance:"pointer",
	      drop: function( event, ui ) {
	        dropItem( ui.draggable ,$(this),'red', 5);
	      }
	    });
	//比较组接收组名
	$compareGroup.droppable({
	      accept: ".sampleGroup",
	      activeClass: "ui-state-highlight",
	      tolerance:"pointer",
	      drop: function( event, ui ) {
	        dropItem( ui.draggable ,$(this),'green',2);
	      }
	    });
	//分组接收样本
	var maxNum=$("#sampleNames li").length
	$sampleGroup.droppable({
	      accept: "#sampleNames > li, .sampleGroup li",
	      activeClass: "ui-state-highlight",
	      tolerance:"pointer",
	      drop: function( event, ui ) {
	        dropItem( ui.draggable ,$(this),'#333',maxNum);
	      }
	    });
	 if(maxNum>12){
	 	$("#sampleNames").css({
	 		height:'360px',
	 		overflow:'auto'
	 	})
	 }
	if($("#groupList .sampleGroup").length>12){
		$("#groupList").css({
	 		height:'360px',
	 		overflow:'auto'
	 	})
	}

	    curcontainer= null;
	    function dropItem($item ,$container,$color,maxNum){
	    	if($item.context.localName=='li'){
	    		var itemName = $item.text();
	    		var items = $container.find('li');
		    	if(items.length>=maxNum){
		    		alert("超出了最大允许数目"+maxNum);
		    		return false;
		    	}
		    	for (var i=0; i<items.length; i++){
		    		if($(items[i]).text()==itemName){
		    			alert("有重复的条目"+itemName+"！");
		    			return false;
		    		}
		    	}
	    		var $list = $( "ul", $container ).length ?$( "ul", $container ) :$( "<ul class='sampleNames ui-helper-reset'/>" ).appendTo($container);
			    $('<li class="list-group-item ui-widget-content ui-corner-tr ui-draggable" style="display: block;border:none;background:none; width: 90px;color:'+$color+'">'
		    	+itemName+'</li>').appendTo($list).fadeIn(function() {
		  	            $item
			              	.find( "img" )
			                .animate({ height: "36px" });
			          	});
			        
	    	}else{
	    		var itemName = $item.children("span").text();
		    	//遍历container查看已包含哪些元素
		    	var containItems= new Array();
		    	var items = $container.find('li');
		    	if(items.length>=maxNum){
		    		alert("超出了最大允许数目"+maxNum);
		    		return false;
		    	}
		    	for (var i=0; i<items.length; i++){
		    		if($(items[i]).text()==itemName){
		    			alert("有重复的条目"+itemName+"！");
		    			return false;
		    		}
		    	}
		    	
		    	var $list = $( "ul", $container ).length ?
			            $( "ul", $container ) :
			            $( "<ul class='goupCompare ui-helper-reset'/>" ).appendTo($container);
			    $('<li class="list-group-item ui-widget-content ui-corner-tr ui-draggable" style="display: block;border:none;background:none; width: 90px;color:'+$color+'">'
			    	+itemName+'</li>').appendTo($list).fadeIn(function() {
			            $item
			              .find( "img" )
			                .animate({ height: "36px" });
			         });
		    		
	    	}
	    }
	    
	    function recycleItem( $item ) {
	      $item.fadeOut(function() {
	        $item
	          .find( "a.ui-icon-refresh" )
	            .remove()
	          .end()
	          .css("background-color","#FFFFFF").css("border","1px solid #dddddd")
	          .find( "img" )
	            .css( "height", "72px" )
	          .end()
	          .appendTo( $sampleNames )
	          .fadeIn();
	      });
	    }
	    
	    $("#groupList .glyphicon-remove").each(function(){
			$(this).click(function(){
				$(this).parent('div').remove();
				var value=$(this).siblings("span").text();
				var index=$.inArray(value,allgroups);
				
				if(index==-1){
					return ;
				}
				allgroups.splice(index,1);
				
				$("#compareList").find("li").each(function(){
					if($(this).text()==value){
						$(this).remove();
					}
					
				})

				dragInit();
			})
		});
		$("#compareList .glyphicon-remove").each(function(){
			$(this).click(function(){
				$(this).parent('div').remove();
				var value=$(this).siblings("span").text();
				var index=$.inArray(value,allCompares);
				if(index==-1){
					return ;
				}
				
				
				
				$("#vennList").find("li").each(function(){
					if($(this).text()==value){
						$(this).remove();
					}
					
				})
				allCompares.splice(index,1);
			})
		});
		$("#vennList .glyphicon-remove").each(function(){
			$(this).click(function(){
				var value=$(this).siblings("span").text();
				var index=$.inArray(value,allVenns);
				if(index==-1){
					return ;
				}
				allVenns.splice(index,1);
				$(this).parent('div').remove();
			})
		});
};

var patrn=/^(\w){1,10}$/i; 
var allgroups = new Array();	//all groups
function addGroup(){
	var gname= $("#groupName").val();
	if(gname=='' ||gname==null){
		return false;
	}
    if (!patrn.exec(gname)) {
    	alert('只能包含字母数字下划线，长度不超过10');
		return false;
	}
	if(-1!=allgroups.indexOf(gname,0)){
		alert('分组名'+gname+"已存在！");
		return false;
	}
	if($('#sampleNames>li').length<=allgroups.length){
		alert("分组数不能超过样本数！");
		return false;
	}
	$("#groupName").val('');
	var html='<div name="sampleGroup" class="ui-widget-content ui-state-default sampleGroup" style=border-radius:3px;><span class="ui-widget-header" style=font-size:18px;height:28px;border:none;background:none;display:inline-block;>'+gname+'</span><button class="ui-widget-header glyphicon glyphicon-remove pull-right closeBorder" ></span></div>';
	$(html).appendTo('#groupList');
	allgroups.push(gname);
	dragInit();
}

//增加比较组
var allCompares = new Array(); 
function addCompare(){
	if(allgroups.length <2){
		alert('此为组间比较，至少需要两个样本组，请先填写样本组信息！');
		return false;
	}

	var cname= $('#compareName').val();
	if (!patrn.exec(cname)) {
    	alert('只能包含字母数字下划线，长度不超过10');
		return false;
	}
	if(cname=='' ||cname==null){
		return false;
	}
	if(-1!=allCompares.indexOf(cname,0)){
		alert('比较组'+cname+"已存在！");
		return false;
	}
	$('#compareName').val('');
	var html='<div name="goupCompare" class="ui-widget-content ui-state-default goupCompare" style=border-radius:3px;><span class="ui-widget-header" style="font-size:18px;color:green;border:none;background:none;height:28px;display:inline-block;" >'+cname+'</span><span class="ui-widget-header glyphicon glyphicon-remove pull-right closeBorder" ></span></div>';
	$(html).appendTo('#compareList');
	allCompares.push(cname);
	dragInit();
}
var allVenns = new Array(); 
function addVenn(){
	if(allCompares.length <2){
		alert("维恩图至少需要两个比较组，请先填写比较组信息！");
		return false;
	}
	var cname= $('#vennName').val();
	if (!patrn.exec(cname)) {
    	alert('只能包含字母数字下划线，长度不超过10');
		return false;
	}
	if(cname=='' ||cname==null){
		return false;
	}
	if(-1!=allVenns.indexOf(cname,0)){
		alert('维恩组'+cname+"已存在！");
		return false;
	}
	$('#vennName').val('');
	var html='<div name="venn" class="ui-widget-content ui-state-default venn" style=border-radius:3px;><span class="ui-widget-header" style="font-size:18px;border:none;background:none;height:28px;display:inline-block;" >'+cname+'</span><span class="ui-widget-header glyphicon glyphicon-remove pull-right closeBorder" ></span></div>';

	$(html).appendTo('#vennList');
	allVenns.push(cname);
	dragInit();
}

function bindGroupClick(){
	dragInit();
	$("#groupName").keydown(function(k){
		if(k.keyCode==13 ){
			addGroup();
		}
	});
	$("#addGroup").click(function(){
		addGroup();
	});
	$("#compareName").keydown(function(k){
		if(k.keyCode==13 ){
			addCompare();
		}
	});
	$("#addCompare").click(function(){
		addCompare();
	});
	$("#addVenn").click(function(){
		addVenn();
	});
}
//任务的状态
function taskState(State) {
	
    if ( State == 'done'){
			return  '<button class="btn btn-primary btn-xs" style="width:100px;">完成</button>';
		}else	if ( State == 'failed'){
			return '<button class="btn btn-warning btn-xs" style="width:100px;">中止</button>';
		}else if (State == 'ready'){
			return '<button class="btn  btn-xs" style="width:100px;">就绪/重运行</button>';
		}else if (State == 'pending'){
			return '<button class="btn btn-xs" style="width:100px;">等待中</button>';
		}
		else{
			return '<button class="btn btn-success btn-xs" style="width:100px;">运行中</button>';
		}
};	
	
//参数组装
function allParams(){
	var app = $("#parameter").serializeArray();
	var json1 = {};
	for(var i=0;i<app.length;i++){
			var name = app[i].name;
			var value = app[i].value;
			json1[name] = value;
	}
	return json1;
};

//打开任务目录
function openUrl(id,type){
	var inputValue = $(id).val();  //当前input的值

	$("#inputUrl").val(inputValue);
	$('#selectUrl').modal('show');

    $("#selected").attr("onClick","geturl('"+id+"','"+type+"')")   //给选择按钮添加事件

};
//点击选择关闭模态框，将当前模态框input中的路径取出放入表单中,type 的类型 暂时有两种，dir和 file
function geturl(formInputId,type){
	var selected_num = checkedNum("urlTable");
	if(type == "dir"){
		//只能选择文件夹，单选
		var newUrl = ""

		if(selected_num == 1){
			//此时选中了一项，判断是否是目录
			var singleName = ""   //选择一个文件夹或者文件的名字，单选
			$.map($('#urlTable').bootstrapTable('getSelections'), function (row) {
				var d_f_type = "";
				d_f_type = row.type.charAt(0);
				if(d_f_type == "d"){
					singleName = row.name;
					newUrl = $("#inputUrl").val() + "/"+ singleName;    //点击选择时取input中当前的路径，在加上此时选择的
					newUrl = newUrl.replace('//','/');
					$("#selected").removeAttr("onClick");
					$("#selectUrl").modal('hide');
					
					$(formInputId).val(newUrl);	
				}else{
					alert("对不起，您选择的必须是目录文件！");
				
				};
						
			});
			
		
		}else if(selected_num == 0){
			//没有选中任何项，将此时的url传到前面

			newUrl = $("#inputUrl").val();    //点击选择时取input中当前的路径，在加上此时选择的
			newUrl = newUrl.replace('//','/');
			$("#selected").removeAttr("onClick");
			$("#selectUrl").modal('hide');
			$(formInputId).val(newUrl);
		  
		} else{
			//选择了多项，直接报错
			alert("对不起，只能选择一个目录文件！");
		};
		
	} else if(type == "file"){
		//只能选择文件，多选
		var newUrl = ""
		var files = [];
		var have_dir = 0
		$.map($('#urlTable').bootstrapTable('getSelections'), function (row) {
			var d_f_type = "";
			d_f_type = row.type.charAt(0);
			if(d_f_type == "d"){
				have_dir = 1;
			}else{
				files.push(row.name);
			}
			
		});
		if(have_dir == 1){
			alert("对不起，不能选择文件夹，只能选择文件！");
		}else{
			if(files.length == 0){
				alert("请选择文件！")
			}else{
				//获得当前的目录，取消绑定，关闭模态框，在外面填写
				var filename_now = '/'+ $('#urlTable').bootstrapTable('getSelections')[0].name;
				newUrl = $("#inputUrl").val()+filename_now;
				newUrl = newUrl.replace('//','/');
				$("#selected").removeAttr("onClick");
				$("#selectUrl").modal('hide');
				$(formInputId).val(newUrl);	
			}
		}

	} else {
		return false;
	}

}

</script>


</body>

</html>