<!DOCTYPE html>
<html>
<head>
    <title>新建APP任务</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="content-type" content="text/html" ; charset="utf-8">
    <link href="public/css/reset.css" rel="stylesheet" />
    <link href="public/css/bootstrap.min.css" rel="stylesheet">
    <link href="public/css/bootstrap-table.css" rel="stylesheet">
    <link href="public/css/jquery.fileupload.css" rel="stylesheet"> 
    <link href="public/css/bootstrap-select.css" rel="stylesheet">
    <link href="public/css/long_common.css" rel="stylesheet" />
    <link href="public/draw/style/app.css" rel="stylesheet" >
    <link href="css/soda_common.css" rel="stylesheet">
    <link href="public/draw/style/spectrum.css" rel="stylesheet"/>
</head>

<body style="background-color:#fff;">
	<div class="top" style="float:left;width:100%;">
		<div class="main_nav1">
			<div class="container">
			<a href="#" class="logo"><img src="public/image/navLogo.svg"/></a>
				<ul class="main_nav1_left">
					<li id="mainIndex"><a href="main.html">首页</a></li>
					<li id="sodaIndex"><a href="sodaIndex.html">云中漫步</a></li>
					<li id="frontierResearch"><a href="frontierResearch.html" >前沿方案</a></li>
					<li id="marketActive"><a href="marketActive.html">市场活动</a></li>	
				</ul>
				<div class="form-group searchNews" id="search_news">
					<span class="col-sm-2 control-label"><img src="public/image/navSearch.svg"/></span>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="search_news_input">
					</div>
				</div>
				<ul class="main_nav1_right">
					<li id="searchIcon"><a href="#"><img src="public/image/navSearch.svg" alt="搜索" /></a></li>
					<li><a href="#"><img src="public/image/navEmail.svg" alt="通知" /></a></li>
					<li><a href="personalCenter.html"><img src="public/image/navUser.svg" alt="用户" /></a></li>
				</ul>
			</div>
		</div>
		<div class="main_nav2">
			<div class="container">
				<ul class="main_nav2_left">
					<li class="nav2_list1" style="width: 90px;">
						<a href="#" class="active">流程方案<img src="public/image/navDown.svg" alt=""></a>
						<ul class="">
							<li><a href="">DNA流程方案</a></li>
							<li><a href="">RNA流程方案</a></li>
							<li><a href="">医学流程方案</a></li>
						</ul>				
					</li>
					<li class="nav2_list2" style="width: 73px;">
						<a href="#">小工具<img src="public/image/navDown.svg" alt=""></a>
						<ul class="">
							<li><a href="">基本绘图</a></li>
							<li><a href="">流程绘图</a></li>
							<li><a href="">高级绘图</a></li>
							<li><a href="">表格处理</a></li>
							<li><a href="">计算统计</a></li>
						</ul>
					</li>
					<li class=""><a href="myProject.html">我的项目</a></li>
					<li class=""><a href="#">我的目录</a></li>
					<li class=""><a href="recycle.html">回收站</a></li>
				</ul>
				<div class="form-group">
					<div class="col-sm-10">
						<input type="text" class="form-control" placeholder="搜索想要使用的流程或小工具" id="search_flowapp">
					</div>
					<button class="col-sm-2 btn btn_blue" id="search_button">搜索</button>				
				</div>
			</div>
		</div>	
	</div>

    <div class="center_box" style="float:left;width:100%;">
		<div class="app_title">
			<p>散点图绘制工具</p>
		</div>
        <div class="change_box" id='taskPanel'> </div>       
        <div class="myTab">
        	<div style="width: 1200px;margin: 0 auto;height: 100%;">
				<div class="tabs" style="margin-left: 10px;">
					<ul class="nav" id="appTabLeft">
						<li><a href="#file" data-toggle="tab">上传文件内容</a></li>
						<li class="active" ><a href="#set" data-toggle="tab">参数设置</a></li>	
					</ul>
				</div>	
				<div class="tabs" style="margin-left: 20px;">
					<ul class="nav" id="appTabRight">
						<li  ><a href="#direction" data-toggle="tab">使用说明</a></li>	
						<li class="active"><a href="#show" data-toggle="tab">绘图展示</a></li>
					</ul>
				</div>	
			</div>	
		</div>
        <div id="myTabContent" class="change_box">
			<div class="tab-content input_l">
				<div class="tab-pane in active" id="set">		
					<div class="panel  panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">文件参数</h3>
							<a id="use_default">使用示例文件</a>
						</div>				
						<div class="panel-body" style="height: 439px;">
							<form id="parameter">
								<!--输入文件-->
								<div class="part">
									<div class="input_a_l titleNameLeft">输入文件:</div>
									<div class="input_a_m inputLeft">
										<input v-model="input" type="text" class="form-control" id="input" name="input" placeholder="">
									</div>
									<div class="input_a_r">
										<a onclick="openUrl('#input','file')">
											<span class="glyphicon glyphicon-folder-open" style="font-size:20px; top: 5px; cursor:pointer;"></span>
										</a>
										<span class="fileinput-button btn " style="padding: 0 10px;" >
											<img src="public/draw/imgs/app_02.png" alt=""  style="width: 29px;">
											<input id="upload_input" name="upload_input" onclick="uploadFile('json/upload.json','upload_input','#input')" type="file">
										</span>
									</div>
								</div>
								<div class="part"> 
									<div class="input_a_l titleNameLeft">绘图列数:</div>	
									<div class="inputLeft">
										<div class="input_a_l" style="width: 70px;">x轴数据：</div>
										<div class="input_a_m" style="width: 92px;">
											<select v-model="xColumnField" id="xColumnField"  name="xColumnField" class="select_width" autocomplete="off" >
												<option v-for="item in fileData['content'][0]" :value="item">{{item}}</option>
											</select>
										</div>	
									</div>	
									<div class="right">
										<div class="input_a_l" style="width: 80px;">散点大小:</div>
										<div class="input_f_2" style="width: 158px;">
											<input v-model="pointsize" type="text" class="form-control" id="pointsize" name="pointsize" placeholder="">
										</div>
									</div>
								</div>
								<div class="line"></div>
								<div class="part">
									<div class="input_a_l titleNameLeft">标题名称:</div>
									<div class="input_b_2 inputLeft">
										<input v-model="title" type="text" class="form-control" id="title" name="title" placeholder=""/>
									</div>
									<div class="right">
										<div class="input_b_t1">字体:</div>
										<div class="input_b_3">
											<select v-model="title_font" id="title_font" name="title_font" class="selectpicker select_width" autocomplete="off" >
												<option value="normal">常规</option>
												<option value="bold">加粗</option>
												<option value="italic">斜体</option>
											</select>
										</div>	
										<div class="input_b_t1">大小:</div>	
										<div class="input_b_3">
											<select v-model="title_size"  id="title_size" name="title_size" class="selectpicker select_width" autocomplete="off" >
												<option value="12">12</option>
												<option value="18">18</option>
												<option value="30">30</option>
											</select>
										</div>	
									</div>
								</div>
								<div class="part">
									<div class="input_a_l">标题位置:</div>
									<div class="inputLeft">
										<div class="input_b_t1 titleA">水平:</div>	
										<div class="input_b_3 inputA">
											<select v-model="titleX" id="titleX"  name="titleX" class="selectpicker select_width" autocomplete="off" >
												<option value="center">Center</option>
												<option value="left">Left</option>
												<option value="right">Right</option>
											</select>
										</div>
									</div>
									<div class="right">
										<div class="input_b_t1">垂直:</div>
										<div class="input_b_3" style="width: 108px;">
											<select v-model="titleY" id="titleY" name="titleY" class="selectpicker select_width" autocomplete="off" >
												<option value="top">Top</option>
												<option value="center">Center</option>
												<option value="bottom">Bottom</option>
											</select>
										</div>	
									</div>
								</div>			
								<div class="line"></div>
								<div class="part">
									<div class="input_a_l titleNameLeft">X轴名称:</div>
									<div class="input_b_2 inputLeft">
										<input v-model="xlab"  type="text" class="form-control" id="xlab" name="xlab" placeholder="">
									</div>
									<div class="right">
										<div class="input_b_t1">字体:</div>
										<div class="input_b_3">
											<select v-model="xlab_font" id="xlab_font" name="xlab_font" class="selectpicker select_width" autocomplete="off" >
												<option value="normal">常规</option>
												<option value="bold">加粗</option>
												<option value="italic">斜体</option>
											</select>
										</div>	
										<div class="input_b_t1">大小:</div>	
										<div class="input_b_3">
											<select v-model="xlab_size"  id="xlab_size" name="xlab_size" class="selectpicker select_width" autocomplete="off" >
												<option value="12">12</option>
												<option value="18">18</option>
												<option value="30">30</option>
											</select>
										</div>	
									</div>
								</div>
								<div class="part">
									<div class="input_a_l titleNameLeft">Y轴名称:</div>
									<div class="input_b_2 inputLeft">
										<input v-model="ylab" type="text" class="form-control" id="ylab" name="ylab" placeholder="">
									</div>
									<div class="right">
										<div class="input_b_t1">字体:</div>
										<div class="input_b_3">
											<select v-model="ylab_font" id="ylab_font" name="ylab_font" class="selectpicker select_width" autocomplete="off" >
												<option value="normal">常规</option>
												<option value="bold">加粗</option>
												<option value="italic">斜体</option>
											</select>
										</div>	
										<div class="input_b_t1">大小:</div>	
										<div class="input_b_3">
											<select v-model="ylab_size"  id="ylab_size" name="ylab_size" class="selectpicker select_width" autocomplete="off" >
												<option value="12">12</option>
												<option value="18">18</option>
												<option value="30">30</option>
											</select>
										</div>	
									</div>
								</div>
								<div class="line"></div>
								<div class="part">
									<div class="input_a_l titleNameLeft">颜色方案:</div>
									<div class="input_b_3 inputLeft">
										<select id="colorProject"  name="colorProject" class="selectpicker select_width" autocomplete="off" >
											<option value="project1">NPG</option>
											<option value="project2">AAAS</option>
											<option value="project3">IGV</option>
										</select>
									</div>									
								</div>
								<div v-for="(item,index) in fileData['content'][0]" v-if="item!=xColumnField" class="part">
									<div class="input_e_1">						
											{{item}}:
									</div>
									<div class="input_e_2 colorInput">
										自定义颜色:
									</div>
									<div class="input_c_4">
										<input v-bind:value="color[index]" type="text" class="form-control spectrum">
									</div>	
									<div class="input_c_4">
										<select class="selectpicker select_width">
											<option value="Top">Top</option>
											<option value="Bottom">Bottom</option>
											<option value="Left">Left</option>
											<option value="Right">Right</option>
										</select>
									</div>
								</div>
								<div class="line"></div>
								<div class="part">
									<div class="input_a_l titleNameLeft">图例直径:</div>
									<div class="input_b_2 inputLeft">
										<input v-model="legendDiameter" type="text" class="form-control" id="legendDiameter" name="legendDiameter" placeholder="">
									</div>
								</div>
								<div class="part">
									<div class="input_a_l titleNameLeft">图例位置:</div>
									<div class="inputLeft">
										<div class="input_b_t1 titleA">水平:</div>	
										<div class="input_b_3 inputA">
											<select v-model="legendX" id="legendX"  name="legendX" class="selectpicker select_width" autocomplete="off" >
												<option value="left">Left</option>
												<option value="center">Center</option>
												<option value="right">Right</option>
											</select>
										</div>	
									</div>	
									<div class="right">
										<div class="input_b_t1">垂直:</div>
										<div class="input_b_3" style="width: 108px;">
											<select v-model="legendY" id="legendY" name="legendY" class="selectpicker select_width" autocomplete="off" >
												<option value="top">Top</option>
												<option value="center">Center</option>
												<option value="bottom">Bottom</option>
											</select>
										</div>
									</div>
								</div>
								<div class="part">
									<div class="input_a_l titleNameLeft">图例布局:</div>
									<div class="input_b_3 inputLeft">
										<select v-model="legendLayout" id="legendLayout"  name="legendLayout" class="selectpicker select_width" autocomplete="off" >
											<option value="horizontal">Horizontal</option>
											<option value="vertical">Vertical</option>
										</select>
									</div>	
								</div>	
								<div class="line"></div>
								<div class="part">
									<div class="input_a_l titleNameLeft">X轴网格线:</div>
									<div id="radioArea" class="input_f_2" style="width: auto;">
										<div class="radio" style="display: inline-block;">
											  <label for="XgridShow">
											    <input v-model="Xgrid"   type="radio" name="XgridShow" id="XgridShow" value="show" >显示
											  </label>
										</div>
										<div class="radio" style="display: inline-block;margin-left: 10px;">
											  <label for="XgridHide">
											    <input v-model="Xgrid" type="radio" name="XgridHide" id="XgridHide" value="hide">隐藏
											  </label>
										</div>
									</div>
								</div>
								<div class="part">
									<div class="input_a_l titleNameLeft">Y轴网格线:</div>
									<div id="radioArea" class="input_f_2" style="width: auto;">
										<div class="radio" style="display: inline-block;">
											  <label for="YgridShow">
											    <input v-model="Ygrid"   type="radio" name="YgridShow" id="YgridShow" value="show" >显示
											  </label>
										</div>
										<div class="radio" style="display: inline-block;margin-left: 10px;">
											  <label for="YgridHide">
											    <input v-model="Ygrid" type="radio" name="YgridHide" id="YgridHide" value="hide">隐藏
											  </label>
										</div>
									</div>
								</div>
							</form>
						</div>
						<div class="panel-footer" style="height: 51px;">
							<button id="submit_paras" type="button" class="btn btn-success">开始绘图</button>
						</div>
					</div>
				</div>
				<div class="tab-pane" id="file">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">文件标题</h3>
						</div>
						<div class="panel-body" style="padding: 0;">
							<table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th v-for="item in fileData.content[0]">{{item}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(item,index) in fileData.content" v-if="index!=0">
                                        <td v-for="item1 in item">{{item1 }}</td>
                                    </tr>
                                </tbody>
                            </table>
						</div>
					</div>
				</div>
			</div>
	
			<!-- 绘图展示 -->
			<div class="tab-content input_r">
				<div class="tab-pane in active" id="show">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">绘图展示</h3>
							<div class="download_button">
								<button  id="btnPng" class="btn btn-success">PNG</button>
								<button id="btnPdf" onclick="convertCanvasToImage()" class="btn btn-primary">PDF</button>
							</div>
						</div>
						<div class="panel-body">
								<div id="main" style="width: 520px;height: 420px;margin-top: 20px;"></div>
						</div>
					</div>
				</div>
	
			<!-- 使用说明 -->
				<div class="tab-pane" id="direction">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">
								使用说明
							</h3>
						</div>
						<div class="panel-body">
							<p>描述：</p>
							<p class="indent">
							对提供的各样本中，各基因的表达量，按log（x+1）转换后，绘制小提琴图（https://en.wikipedia.org/wiki/Violin_plot）。用于展示各样本基因整体表达量分布情况。
							</p>
							<p>参数：</p>
							<pre>
								--input	  输入文件名。例如：fpkm.txt
								--output  输出文件名。后缀为.png时，输出png图片；后缀为.pdf时，输出pdf图片。例如：violin.png
								--ylab	  y坐标轴标题，默认为：log(RPKM+1)。例如：log(TPM+1)
								--title	  图标题，默认为：RPKM distribution。例如：TPM distribution	
							</pre>
							<p>输入：</p>
							<div class="indent">基因表达量文件，第一列为geneID，其他列为各样本中基因表达量值（FPKM，RPKM或TPM）。</div>
							<div class="img_box">
								<img src="public/draw/imgs/bg.jpg" alt="">
							</div>
							<p>输出：</p>
							<div class="indent">后缀为.png时，输出png图片；后缀为.pdf时，输出pdf图片。</div>
						</div>
					</div>
				</div>
			</div>
		
    	</div>
        
	<!-- 标签切换 -->
	
	
	<!-- 添加选择目录的模态框 -->
	<div class="modal fade" id="selectUrl" tabindex="-1" aria-labelledby="选择路径" aria-hidden="true">

		<div class="modal-dialog" style="top:50px; width:800px;">
			<div class="modal-content ">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
						&times;
					</button>
					<h4 class="modal-title">路径</h4>
					<div class="input-group">
						<input type="text" class="form-control" id="inputUrl">
						<span class="input-group-btn">
							<button class="btn btn-default glyphicon glyphicon-arrow-left" id="back" type="button" style="top: 0px;"></button>
							<button class="btn btn-default glyphicon glyphicon-arrow-right" id="search" type="button" style="top: 0px;"></button>
						</span>
					</div>
				</div>
				<!-- -----------------------------------------------------------data-single-select="true"------------------------ -->
				<div class="modal-body" style="text-align:center; ">
					<table data-toggle="table" data-url="json/jobUrl.json" data-minimum-count-columns="2" data-id-field="id" data-show-footer="false"
						data-height="300" data-sort-name="id" data-click-to-select="true"  id="urlTable"
						style="bottom:20px;">

						<thead>
							<tr>
								<th data-field="state" data-checkbox="true"></th>
								<th data-field="icon" data-formatter="addIcon"></th>
								<th data-field="name" data-align="left" data-sortable="true">name</th>
								<th data-field="type" data-align="center" data-sortable="true">attribute</th>
								<th data-field="inodeNum" data-align="center" data-visible="false" data-sortable="true">inodeNum</th>
								<th data-field="size" data-align="center" data-sortable="true">size</th>
								<th data-field="owner" data-align="center" data-sortable="true">owner</th>
								<th data-field="group" data-align="center">group</th>
								<th data-field="mtime" data-align="center" data-sortable="true">time</th>
							</tr>
						</thead>
					</table>
				</div>
				<!-- ----------------------------------------------------------------------------------- -->
				<div class="modal-footer">
					<button type="button" id="selected" class="btn btn-primary">
					选择
					</button>
					<button type="button" id="cancel" class="btn btn-default" data-dismiss="modal">
					关闭
					</button>

				</div>
			</div>
		</div>

	</div>
	<div id="pdf" style="display: none;"></div>
    <!--页脚-->
    <div id="footer_style">
        <footer class="footerstyle">
            <p>版权所有 © 2016 京ICP备15033925号</p>
            <p>北京拓美科基因科技有限公司</p>
        </footer>
    </div>
    <script src="public/js/jquery-1.11.2.min.js"></script>
    <script src="public/js/bootstrap.min.js"></script>
    <!--添加本页面的js-->
    <script>
		module = "__MODULE__";
		tool_id = "{$tool_id}";
	</script>
    <script src="public/js/bootstrap-table.js"></script>
    <script src="public/js/jquery.ui.widget.js"></script>
    <script src="public/js/jquery.fileupload.js"></script>
    <script src="public/js/jquery.iframe-transport.js"></script>
    <script src="public/js/jquery.blockUI.js" type="text/javascript"></script>
    <script src="public/js/bootstrap-select.js"></script>
    <script src="public/js/defaults-zh_CN.js"></script>
    <script src="public/js/vue.js"></script>
    <script src="public/draw/script/html2canvas.min.js"></script>
    <script src="public/draw/script/jspdf.min.js"></script>
    <script src="public/js/echarts.js"></script>
    <script src="public/js/long_common.js"></script>
    <script src="public/draw/script/spectrum.js"></script>
    <script src="public/draw/script/jquery.spectrum-zh-cn.js"></script>
    <script src="js/common.js"></script>
    <script src="public/draw/script/scatterDraw.js"></script>  
    <script>
	    $(function(){
			$("#xColumnField").selectpicker({noneSelectedText:'请选择'});
			
		})	
    </script>
</body>

</html>