@charset "utf-8";
body{
	min-width: 1024px;
	min-height: 768px;
	overflow:auto;
}
.indent {
  text-indent: 2em;
}
/* 隐藏超出列宽的文字 */
.contents_hide {
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 200px;
}
html {
  min-width: 800px;
  overflow-x: scroll;
}
.bigbox {
  width: 90%;
  margin: 0 auto;
  padding-right: 0px;
  padding-left: 0px;
}
.bigbox_1200 {
  margin: 0 auto;
  width: 90%;
  max-width: 1200px;
  padding-right: 0px;
  padding-left: 0px;
}
.top {
  float: left;
  width: 100%;
  position: fixed;
  z-index: 999;
}
.top .container{
	width: 1186px;
	padding-left: 26px;
	padding-right: 11px;
	position: relative;
}
.main_nav1 {
  float: left;
  padding-right: 0px;
  padding-left: 0px;
  width: 100%;
  height: 52px;
  background-color: #13438b;
  position: relative;
}
.main_nav1 ul {
  list-style: none;
  margin-bottom: 0;
}
.main_nav1 .logo{
	display: inline-block;
	line-height: 52px;
	float: left;
	margin-right: 73px;
}
.main_nav1 .main_nav1_right {
  float: right;
  height: 100%;
  line-height: 52px;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: 20px;
}
.main_nav1 .main_nav1_right li {
  float: left;
  margin-left: 30px;
  height: 45px;
  line-height: 52px;
}
.main_nav1 .main_nav1_right li span {
  color: #fff;
  margin-top: -9px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  padding: 1px 15px;
  border: 1px solid #fff;
}
/***
  .main_nav1 .main_nav1_right li span {
  color: #fff;
  margin-top: 2px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  padding: 3px 20px;
  border: 1px solid #fff;
}
 ***/
.main_nav1 .main_nav1_right img {
  width: 30px;
  height: 30px;
  margin-top: 2px;
}
/*
 * .main_nav1 .main_nav1_right img {
 *   width: 37px;
 *     height: 37px;
 *       margin-top: 2px;
 *       
 * */
.main_nav1 .main_nav1_left {
  float: left;
  height: 100%;
  line-height: 52px;
  padding-right: 0px;
  padding-left: 0px;
}
.main_nav1 .searchNews{
	position: absolute;
	left: 276px; 
	height: 52px !important;
	line-height: 52px !important;
	width: 50%;
	margin:0 auto;
	text-align: center;
	 display: none;
}
.main_nav1 .main_nav1_left .searchIcon{
	display: inline-block;
	line-height: 52px;
	width: 27px;
	height: 27px;
	vertical-align: middle;
	background: url(../image/搜索.png) no-repeat;
	cursor: pointer;"
}
.main_nav1 .main_nav1_left .form-control{
	line-height: 52px;
	height: 35px;
	font-size: 18px; 
	display:inline-block;
	width:505px;
	border:1px solid #fff !important;
	background:none;
	color: #fff;"
}
.main_nav1 .main_nav1_left a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}
.main_nav1 .main_nav1_left li {
  background: #13438b;
  float: left;
  width: 105px;
  text-align: center;
  margin-right: 30px;
}

/*.main_nav1 .main_nav1_left ul {
  display: none;
  padding-left: 0px;
}
.main_nav1 .main_nav1_left ul li {
  padding-right: 30px;
  padding-left: 15px;
  display: block;
  height: 45px;
}*/
/*.main_nav1 .main_nav1_left .dodo {
  width: 100px;
  padding-left: 0px;
  letter-spacing: 0px;
}
.main_nav1 .main_nav1_left .dodo a {
  text-decoration: none;
  color: #46a2f9;
  cursor: pointer;
}
.main_nav1 .main_nav1_left .dodo a:hover {
  text-decoration: none;
  color: #46a2f9;
  cursor: pointer;
}*/
/*.main_nav1 .main_nav1_left .nav_b1 {
  background-image: url('../img/main_nav_01.png');
  background-repeat: repeat-x;
}*/
.main_nav1 .main_nav1_left .other_nav {
  z-index: 102;
  position: relative;
  padding-left: 0px!important;
  padding-right: 0px!important;
  margin-right: 0px;
}
.main_nav2 {
  float: left;
  padding-right: 0px;
  padding-left: 0px;
  width: 100%;
  height: 45px;/*白条高度*/
  background-color: #fff;
  border-bottom: 1px solid #ebebeb; 
  box-shadow:-2px 3px 9px 0px #ccc; 
}
.main_nav2 ul {
  list-style: none;
}
.main_nav2 .main_nav2_left {
  float: left;
  height: 100%;
  line-height: 44px;/*45内条高度*/
  padding-right: 0px;
  padding-left: 0px;
}
.main_nav2 .main_nav2_left a {
  text-decoration: none;
  color: #959595;
  cursor: pointer;
}
.main_nav2 .main_nav2_left a.active{
	color: #333;
	font-weight: bold;
}
/*.main_nav2 .main_nav2_left a:hover {
  text-decoration: none;
  color: #333;
  cursor: pointer;
}*/
.main_nav2 .main_nav2_left li {
  z-index: 101;
  position: relative;
  background: #fff;
  float: left;
  font-size: 16px;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: 30px;
  letter-spacing: 1px;
}
.main_nav2 .main_nav2_left li.listshow ul {
  display: block;
}
.main_nav2 .main_nav2_left ul {
  display: none;
  padding-left: 0px;
  /*box-shadow: 3px 3px 6px -7px #cccccc;*/
  box-shadow: 4px 4px 16px -11px #000000;
}
.main_nav2 .main_nav2_left ul li {
  width: 120px;
  padding-left: 10px;
  float: none;
  display: block;
  height: 45px;
  margin-left: 0px;
  margin-right: 0px;
  border-top: 1px solid #ccc;
}
.main_nav2 .main_nav2_left .nav2_search {
  float: left;
  width: 550px;
  font-size: 20px;
  margin-top: 10px;
}
.main_nav2 .main_nav2_left .nav2_search input {
  height: 28px;
  width: 470px;
  float: left;
}
.main_nav2 .main_nav2_left .nav2_search button {
  padding-top: 3px;
  height: 28px;
  float: left;
  margin-left: 0px;
}
.main_nav2 .main_nav2_left .nav2_search .btn-blue:hover {
  color: #fff;
}
.main_nav2 .main_nav2_left .nav2_list1,
.main_nav2 .main_nav2_left .nav2_list2 {
  width: 120px;
}
.main_nav2 .search_right{
	float: right;
	line-height: 45px;
	margin-right: 23px;
}
.main_nav2 .search_right .btn-blue {
  background-color:#13438b;
  color: #fff;
  height: 35px;
  margin-bottom: 2px;
  margin-left: -5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.main_nav2 .search_right .form-control{
	display: inline-block;
	width: 352px;
	height: 35px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border: 1px solid #c8c8c8;
	color: #d4d4d4;
}
.nav_line {
  float: left;
  width: 100%;
  height: 12px;
  background-image: url('../img/分析报告_15.png');
  background-repeat: no-repeat;
  -moz-background-size: 100% 12px;
  background-size: 100% 12px;
}
.main_nav3 {
  float: left;
  padding-right: 0px;
  padding-left: 0px;
  width: 100%;
  height: 45px;
  background-color: #fff;
}
.main_nav3 ul {
  list-style: none;
}
.main_nav3 .main_nav3_left {
  float: left;
  display: block;
  line-height: 45px;
  padding-right: 0px;
  padding-left: 0px;
}
.main_nav3 .main_nav3_left a {
  text-decoration: none;
  color: #777777;
  cursor: pointer;
}
.main_nav3 .main_nav3_left a:hover {
  text-decoration: none;
  color: #000000;
  cursor: pointer;
}
.main_nav3 .main_nav3_left li {
  z-index: 100;
  background: #fff;
  float: left;
  font-size: 14px;
  padding-right: 5px;
  padding-left: 5px;
  letter-spacing: 1px;
}
.main_nav3 .main_nav3_left li span {
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  padding: 3px 15px;
  border: 1px solid #777;
}
.main_nav3 .main_nav3_right {
  float: right;
  display: block;
  line-height: 45px;
  padding-right: 0px;
  padding-left: 0px;
}
.main_nav3 .main_nav3_right a {
  text-decoration: none;
  color: #777777;
  cursor: pointer;
}
.main_nav3 .main_nav3_right a:hover {
  text-decoration: none;
  color: #000000;
  cursor: pointer;
}
.main_nav3 .main_nav3_right li {
  z-index: 100;
  background: #fff;
  float: left;
  font-size: 14px;
  padding-right: 5px;
  padding-left: 5px;
  letter-spacing: 1px;
}
.main_nav3 .main_nav3_right li span {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  padding: 6px 8px;
  border: 1px solid #777;
}
#footer_style {
  margin: 10px 0;
  float: left;
  width: 100%;
}
#footer_style .footerstyle {
  font-size: 12px;
  line-height: 10px;
  text-align: center;
  color: #999;
  padding-bottom: 10px;
  padding-top: 10px;
}
