.mt-45 {
  margin-top: 45px;
}
body,
html {
  height: 100%;
  overflow: hidden;
}
* {
  text-decoration: none !important;
}
a:hover {
  text-decoration: none !important;
}
.bg {
  width: 100%;
  height: 100%;
  top: 0;
  z-index: -1;
  position: absolute;
}
.bg img {
  position: fixed;
  display: block;
  outline: none;
  border: 0;
  height: 100%;
  width: 100%;
}
.logo {
  float: left;
  width: 100%;
  height: 150px;
}
.logo img {
  margin-top: 40px;
  width: 70px;
}
.form-2 {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 450px;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  margin-bottom: 30px;
  border-radius: 5px;
  background-color: #fff;
  /*
        .error{
            font-size: 14px;
            margin-top: -23px;
            height: 23px;
            line-height: 23px;
            padding-left: 27px;
            color: #e30000;
            background: url(../../form/imgs/error.png) 2px 50% no-repeat;
        }
   */
}
.form-2 .formLogo{
	position: absolute;
	left: 50%;
	width: 135px;
	margin-left: -65px;
	margin-top: -50px;
}
.form-2 .title {
  font-size: 20px;
  padding-top: 7px;
  text-align: center;
  color: #13438B;
}
.form-2 .title h3 {
  color: #13438B;
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: bold;
}
.form-2 .sub-title {
  line-height: 30px;
  width: 390px;
  height: 30px;
  margin-bottom: 10px;
  text-align: center;
  background: url(../../form/imgs/form-title.svg) 0 50% repeat-x;
}
.form-2 .sub-title h3 {
  font-size: 12px;
  font-weight: 400;
  color: #13438B;
  display: inline;
  letter-spacing: 2px;
  padding: 0 20px;
  background-color: #fff;
}
.form-2 .input {
  width: 390px;
}
.form-2 .input .each_input {
  width: 390px;
  border: 1px solid #13438B;
  height: 38px;
  float: left;
}
.form-2 .input .each_input p {
  float: left;
  font-size: 16px;
  font-weight: bold;
  line-height: 38px;
  color: #13438B;
  width: 100px;
  padding-left: 10px;
  padding-right: 10px;
}
.form-2 .input .each_input p span {
  color: #c10100;
  font-size: 18px;
  font-weight: bold;
  padding-left: 3px;
}
.form-2 .input .each_input input {
  width: 280px;
  height: 36px;
  font-size: 12px;
  letter-spacing: 2px;
  color: #333;
  border: none;
  outline: none;
  background: none;
}
.form-2 .input .code {
  float: right;
}
.form-2 .input .code button {
  width: 95px;
}
.form-2 .input .code .btn-blue {
  background-color: #2289e5;
  color: #fff;
  margin-left: 10px;
}
.form-2 .input .code .btn-blue:hover {
  color: #fff;
}
.form-2 .input .normal {
  float: left;
  width: 100%;
  margin: 0px;
  padding: 0px;
  height: 20px;
}
.form-2 .input .error {
  float: left;
  width: 100%;
  margin: 0px;
  padding: 0px;
  height: 20px;
  font-size: 14px;
  line-height: 20px;
  padding-left: 27px;
  color: #e30000;
  background: url(../../form/imgs/error.png) 2px 50% no-repeat;
}
.form-2 .input .submit {
  width: 100%;
  overflow: hidden;
  padding-top: 10px;
  margin-bottom: 30px;
}
.form-2 .input .submit .submit-btn {
  font-size: 18px;
  font-weight: 600;
  line-height: 35px;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 35px;
  margin: 2px auto 0 auto;
  cursor: pointer;
  color: #fff;
  border: 2px solid #13438B;
  border-radius: 3px;
  outline: none;
  background-color: #13438B;
}
.form-2 .input .submit .submit-btn-2 {
  font-size: 24px;
  font-weight: 600;
  display: block;
  width: 406px;
  height: 46px;
  margin: 27px auto 0 auto;
  cursor: pointer;
  color: #fff;
  border: none;
  border: 2px solid #0568d4;
  border-radius: 3px;
  background-color: #13438B;
}
.form-2 .input .agree{
	float: left;
	width:100%;
	height: 30px;
	position: relative;
}
.form-2 .input .agree>input{
	line-height: 30px;
	position: absolute;
	top: 2px;
}
.form-2 .input .agree>a{
	position: absolute;
	left: 20px;
	top: 5px;
	color: #999;
	font-size: 13px;
}
.form-2 .input .agree>a:hover{
	color: #13438B;
}
.form-2 .input .agree .checks {  
    display: inline-block;  
    -webkit-appearance: none;  
    background-color: transparent;  
    border: 0;  
    outline: 0 !important;  
    color: #d8d8d8;  
}  
.form-2 .input .agree .checks:after { 
		cursor: pointer;   
    content: "";
    background:url(../imgs/check.svg) no-repeat;  
    display:block;  
    width: 20px;  
    height: 20px;  
}  
.form-2 .input .agree .checks:checked:after  {
		cursor: pointer;  
    content: ""; 
    background:url(../imgs/checkToCheck.svg) no-repeat;
    display:block;  
    width: 20px;  
    height: 20px; 
} 
.form-2.reset-password .title {
  padding-top: 116px;
  margin-bottom: 48px;
}
.form-2.success .success-icon {
  margin-top: 30px;
  height: 79px;
  background: url(../../form/imgs/icon-1.svg) 50% 0 no-repeat;
}
.form-2.success .s_title {
  text-align: center;
}
.form-2.success .s_title h3 {
  font-size: 26px;
  color: #000;
  padding-top: 0;
  letter-spacing: 5px;
  font-weight: 300;
  line-height: 50px;
}
.form-2.success .link {
  width: 368px;
  margin-bottom: 30px;
}
.form-2.success .link a {
  display: block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: #13438B;
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 4px;
  border-radius: 4px;
}
.form-1 {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 450px;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  overflow: hidden;
  margin-bottom: 30px;
  border-radius: 5px;
  background-color: #fff;
}
.form-1 .form-1-nav {
  line-height: 50px;
  overflow: hidden;
  width: 288px;
  height: 50px;
  margin-top: 50px;
  border: 2px solid #13438B;
  border-radius: 25px;
  background-color: #13438B;
}
.form-1 .form-1-nav li {
  float: left;
  width: 50%;
  text-align: center;
}
.form-1 .form-1-nav li a {
  font-size: 18px;
  display: inline-block;
  width: 100%;
  color: #13438B;
  background-color: #fff;
}
.form-1 .form-1-nav li.active a,
.form-1 .form-1-nav li a:hover {
  color: #fff;
  background-color: transparent;
}
.form-1 .title {
  font-size: 20px;
  padding-top: 7px;
  text-align: center;
  color: #13438B;
}
.form-1 .title h3 {
  color: #333;
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: bold;
}
.form-1 .sub-title {
  line-height: 30px;
  width: 390px;
  height: 30px;
  margin-bottom: 10px;
  text-align: center;
  background: url(../../form/imgs/form-title.svg) 0 50% repeat-x;
}
.form-1 .sub-title h3 {
  font-size: 12px;
  font-weight: 400;
  color: #13438B;
  display: inline;
  letter-spacing: 2px;
  padding: 0 20px;
  background-color: #fff;
}
.form-1 .form-1-title {
  line-height: 70px;
  width: 406px;
  height: 70px;
  text-align: center;
  background: url(../../form/imgs/form-title.svg) 0 50% repeat-x;
}
.form-1 .form-1-title h3 {
  font-size: 14px;
  font-weight: 400;
  display: inline;
  padding: 0 20px;
  color: #999;
  background-color: #fff;
}
.form-1 .form-1-title a {
  color: #84bfff;
}
.form-1 .input {
  width: 406px;
}
.form-1 .input .each_input {
  width: 406px;
  border: 1px solid #ddd;
  height: 38px;
  float: left;
}
.form-1 .input .each_input p {
  float: left;
  font-size: 16px;
  font-weight: bold;
  line-height: 38px;
  color: #333;
  width: 100px;
  padding-left: 10px;
  padding-right: 10px;
}
.form-1 .input .each_input p span {
  color: #c10100;
  font-size: 18px;
  font-weight: bold;
  padding-left: 3px;
}
.form-1 .input .each_input input {
  width: 304px;
  height: 36px;
  font-size: 12px;
  letter-spacing: 2px;
  color: #333;
  border: none;
  outline: none;
  background: none;
}
.form-1 .input .code {
  float: right;
}
.form-1 .input .code button {
  width: 95px;
}
.form-1 .input .code .btn-blue {
  background-color: #2289e5;
  color: #fff;
  margin-left: 10px;
}
.form-1 .input .code .btn-blue:hover {
  color: #fff;
}
.form-1 .input .normal {
  float: left;
  width: 100%;
  margin: 0px;
  padding: 0px;
  height: 20px;
}
.form-1 .input .error {
  float: left;
  width: 100%;
  margin: 0px;
  padding: 0px;
  height: 20px;
  font-size: 14px;
  line-height: 20px;
  padding-left: 27px;
  color: #e30000;
  background: url(../../form/imgs/error.png) 2px 50% no-repeat;
}
.form-1 .input .submit {
  width: 140px;
  overflow: hidden;
  padding-top: 10px;
}
.form-1 .input .submit .submit-btn {
  font-size: 18px;
  font-size: 22px;
  font-weight: 600;
  line-height: 40px;
  display: block;
  overflow: hidden;
  width: 110px;
  height: 40px;
  margin: 2px auto 0 auto;
  cursor: pointer;
  color: #13438B;
  border: 2px solid #13438B;
  border-radius: 22px;
  outline: none;
  background-color: #fff;
}
.form-1 .input .submit .submit-btn:hover {
  color: #fff;
  background-color: #13438B;
}
.form-1 .input .submit .submit-btn-2 {
  font-size: 24px;
  font-weight: 600;
  display: block;
  width: 406px;
  height: 46px;
  margin: 27px auto 0 auto;
  cursor: pointer;
  color: #fff;
  border: none;
  border: 2px solid #0568d4;
  border-radius: 3px;
  background-color: #13438B;
}
.form-2 .input .erweiTip{
	position: absolute;
	left:395px;
	top:60px;
	width: 360px;
}
.form-2 .input .erweiTip .tipText{
	position: absolute;
	left: 90px;
	bottom: -6px; 
	font-size: 14px;
	font-weight: bold;
	color: #13438B;
}

.form-1 .tips {
  float: left;
  width: 100%;
  font-size: 14px;
  margin-bottom: 18px;
  margin-top: 10px;
  color: #13438B;
}
.form-1 .tips p {
  padding-left: 30px;
}
.form-1 .tips p.right {
  background: url(../../form/imgs/right.png) 0 50% no-repeat;
}
.form-1 .tips.submit_captcha {
  color: #999;
}
.form-1 .link {
  float: left;
  width: 100%;
  margin-top: 30px;
}
.form-1 .link a {
  display: block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: #13438B;
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 4px;
  border-radius: 4px;
}
